@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-family: 'Raleway', sans-serif;
  --inter-family: 'Inter', sans-serif;
  --rubik-family: 'Rubik', sans-serif;
  --sofia-family: 'Sofia Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 15px;
  --fw-light: 300;
  --fw-medium: 500;
  --fw-normal: 600;
  --fw-bold: 800;
  --radius: 3px;
  --text-color: #282828;
  --text-color-white: #ffffff;
  --subtitle-color: #9a9a9a;
  --bg-color: rgba(244, 181, 12, 1);
  --selected-color: rgba(244, 181, 12, 1);
  --hover-text-color: #f4c40a;
  --bg-color-hover: rgba(49, 50, 51, 1);
}

body {
  font-family: var(--inter-family);
  font-weight: var(--fw-normal);
  font-size: var(--fs-sm);
  color: var(--text-color);
}

.icon {
  color: var(--selected-color);
  transition: all 0.1s;
}

.icon:hover {
  color: var(--bg-color-hover);
  transition: all 0.1s;
}

.swiper-pagination-progressbar-fill {
  border: 2px solid var(--bg-color);
}

.swiper {
  position: absolute;
}

.swiper-slide {
  position: absolute;
}
